<ion-header>
    <ion-navbar>
        <ion-title>
            {{title}}
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
test
  <ion-searchbar
    [(ngModel)]="searchInput"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onSearchInput($event)"
    (ionCancel)="onSearchCancel($event)">
  </ion-searchbar>
    <div *ngFor="let item of starWarsObjectsList">
        <ion-card>
          <img src="http://www.slate.fr/sites/default/files/styles/1090x500/public/starwars.png"/>
          <ion-card-header>
            {{item.name || item.title}}
          </ion-card-header>
          <ion-card-content>
            <span>{{item.url}}{{item.id}}</span>
          </ion-card-content>
        </ion-card>
      <!--  <div *ngFor="let film of item.films">
            <span>{{film}}</span>
        </div>-->
    </div>
</ion-content>
