.spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;

    }
.title-center{
  text-align: center;
}
.swList{
  text-align: center
}
.itemList{
  background-color: rgba(10, 9, 9, 1);
  margin-bottom: 10px;
  width:60%;
  height: 70px;
  text-align: center;
  border-radius: 50px;
  margin-left: 20%;
  border-color: "#FFF";
  border-width: 5px;


}

.itemDiv{
  text-align: center;
}
.imgList{
  width:50px;
  height:50px;
}
