.spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;

    }
.title-center{
  text-align: center;
}
.scrollList{
  width:100%;
  height:100%;
}
.cardList{
  height:100px
}
