<ion-header>
    <ion-navbar>
        <ion-title>
            {{title}}
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngIf="searching" class="spinner-container">
       <ion-spinner name="bubbles"></ion-spinner>
   </div>
  <ion-searchbar *ngIf="!searching"
    [(ngModel)]="searchInput"
    [showCancelButton]="shouldShowCancel">
  </ion-searchbar>


<!--  <ion-list>
  <ion-item *ngFor="let item of starWarsObjectsList | FilterPipe: searchInput">
    <ion-thumbnail item-start>
      <img src="http://www.stickpng.com/assets/thumbs/580b585b2edbce24c47b2d2d.png">
    </ion-thumbnail>
    <p>{{item.url}}{{item.id}}</p>
    <button ion-button clear item-end>View</button>
  </ion-item>
</ion-list>-->


     <ion-list>
       <ion-card *ngFor="let item of starWarsObjectsList " (click)="pushObjectDetail(item, item.name || item.title)">
         <img src="http://www.uniqlo.com/sg/corp/pressrelease/STARWARS.PNG"/>
         <ion-card-content>
           <ion-card-title class="title-center">
             {{item.name || item.title}}
             </ion-card-title>

         </ion-card-content>
       </ion-card>
</ion-list>

<ion-infinite-scroll (ionInfinite)="retrieveMoreFromAPI($event)">
   <ion-infinite-scroll-content>
   </ion-infinite-scroll-content>
 </ion-infinite-scroll>
<!-- <div *ngFor="let item of starWarsObjectsList | FilterPipe: searchInput ">
        <ion-card>
          <img src="http://www.slate.fr/sites/default/files/styles/1090x500/public/starwars.png"/>
          <ion-card-header>
            {{item.name || item.title}}
          </ion-card-header>
          <ion-card-content>
            <span>{{item.url}}{{item.id}}</span>
          </ion-card-content>
        </ion-card>
      <!--  <div *ngFor="let film of item.films">
            <span>{{film}}</span>
        </div>
    </div>-->
</ion-content>
