<ion-header>
  <ion-navbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="background" >

  <!--  <ng-template [ngIf]= "isVehicle" >
  <h2> {{selectedItem.name || selectedItem.title }} </h2>
  <strong>Name:</strong><p>{{selectedItem.name}}</p>
  <strong>Cargo Capacity:</strong><p>{{selectedItem.cargo_capacity}}</p>
  <strong>Length:</strong><p>{{selectedItem.length}}</p>
  <strong>Vehicle Class:</strong><p>{{selectedItem.vehicle_class}}</p>
  <strong>Passengers:</strong><p>{{selectedItem.passengers}}</p>
  <strong>Model:</strong><p>{{selectedItem.model}}</p>
  <strong>Manufacturer:</strong><p>{{selectedItem.manufacturer}}</p>
  <strong>Crew:</strong><p>{{selectedItem.crew}}</p>
</ng-template>
-->
<div class="blockInfo">
    <img class="imgDetail" src="assets/imgs/detail.png">

  <ng-template [ngIf]= "objectType == 'vehicle'"  >
    <div class="block">
      <strong class="inline">Cargo Capacity: </strong> <p class="inline">{{selectedItem.cargo_capacity}}</p>
    </div>
    <div class="block">
      <strong class="inline">Length: </strong> <p class="inline">{{selectedItem.length}}</p>
    </div>
    <div class="block">
      <strong class="inline">Vehicle Class: </strong> <p class="inline">{{selectedItem.vehicle_class}}</p>
    </div>
    <div class="block">
      <strong class="inline">Passengers: </strong> <p class="inline">{{selectedItem.passengers}}</p>
    </div>
    <div class="block">
      <strong class="inline">Model: </strong> <p class="inline">{{selectedItem.model}}</p>
    </div>
    <div class="block">
      <strong class="inline">Crew: </strong> <p class="inline">{{selectedItem.crew}}</p>
    </div>
    <div class="block">
      <strong class="inline">Manufacturer: </strong> <p class="inline">{{selectedItem.manufacturer}}</p>
    </div>
    <div class="block">
      <strong class="inline">Cost In Credits: </strong> <p class="inline">{{selectedItem.cost_in_credits}}</p>
    </div>

  </ng-template>

  <ng-template [ngIf]= "objectType == 'starship'" >
    <div class="block">
      <strong class="inline">Model: </strong> <p class="inline">{{selectedItem.model}}</p>
    </div>
    <div class="block">
      <strong class="inline">Manufacturer: </strong> <p class="inline">{{selectedItem.manufacturer}}</p>
    </div>
    <div class="block">
      <strong class="inline">Cost In Credits: </strong> <p class="inline">{{selectedItem.cost_in_credits}}</p>
    </div>
  </ng-template>

  <ng-template [ngIf]= "objectType == 'planet'" >
    <div class="block">
      <strong class="inline">Climate: </strong> <p class="inline">{{selectedItem.climate}}</p>
    </div>
    <div class="block">
      <strong class="inline">Created: </strong> <p class="inline">{{selectedItem.created}}</p>
    </div>
    <div class="block">
      <strong class="inline">Diameter: </strong> <p class="inline">{{selectedItem.diameter}}</p>
    </div>
    <div class="block">
      <strong class="inline">Gravity: </strong> <p class="inline">{{selectedItem.gravity}}</p>
    </div>
    <div class="block">
      <strong class="inline">Population: </strong> <p class="inline">{{selectedItem.population}}</p>
    </div>
    <div class="block">
      <strong class="inline">Terrain: </strong> <p class="inline">{{selectedItem.terrain}}</p>
    </div>
    <div class="block">
      <strong class="inline">Orbital Period: </strong> <p class="inline">{{selectedItem.orbital_period}}</p>
    </div>

  </ng-template>

  <ng-template [ngIf]= "objectType == 'specie'" >
    <div class="block">
      <strong class="inline">Eye Colors: </strong> <p class="inline">{{selectedItem.eye_colors}}</p>
    </div>
    <div class="block">
      <strong class="inline">Classification: </strong> <p class="inline">{{selectedItem.classification}}</p>
    </div>
    <div class="block">
      <strong class="inline">Average Lifespan: </strong> <p class="inline">{{selectedItem.average_lifespan}}</p>
    </div>
    <div class="block">
      <strong class="inline">Hair Colors: </strong> <p class="inline">{{selectedItem.hair_colors}}</p>
    </div>
    <div class="block">
      <strong class="inline">Homeworld: </strong> <p class="inline">{{selectedItem.homeworld}}</p>
    </div>
    <div class="block">
      <strong class="inline">Language: </strong> <p class="inline">{{selectedItem.terrain}}</p>
    </div>
    <div class="block">
      <strong class="inline">Skin Colors: </strong> <p class="inline">{{selectedItem.skin_colors}}</p>
    </div>
  </ng-template>

  <ng-template [ngIf]= "objectType == 'people'" >
    <div class="block">
      <strong class="inline">Gender: </strong> <p class="inline">{{selectedItem.gender}}</p>
    </div>
    <div class="block">
      <strong class="inline">Birth Year: </strong> <p class="inline">{{selectedItem.birth_year}}</p>
    </div>
    <div class="block">
      <strong class="inline">Eye Color: </strong> <p class="inline">{{selectedItem.eye_color}}</p>
    </div>
    <div class="block">
      <strong class="inline">Hair Colors: </strong> <p class="inline">{{selectedItem.hair_color}}</p>
    </div>
    <div class="block">
      <strong class="inline">Skin Colors: </strong> <p class="inline">{{selectedItem.skin_color}}</p>
    </div>
    <div class="block">
      <strong class="inline">Homeworld: </strong> <p class="inline">{{selectedItem.homeworld}}</p>
    </div>
    <div class="block">
      <strong class="inline">Height: </strong> <p class="inline">{{selectedItem.height}}</p>
    </div>
    <div class="block">
      <strong class="inline">Mass: </strong> <p class="inline">{{selectedItem.mass}}</p>
    </div>
  </ng-template>

  <ng-template [ngIf]= "objectType == 'film'" >
    <div class="block">
      <strong class="inline">Director: </strong> <p class="inline">{{selectedItem.director}}</p>
    </div>
    <div class="block">
      <strong class="inline">Producer: </strong> <p class="inline">{{selectedItem.producer}}</p>
    </div>
    <div class="block">
      <strong class="inline">Release Date: </strong> <p class="inline">{{selectedItem.release_date}}</p>
    </div>
    <div class="block">
      <strong class="inline">Opening Crawl: </strong> <p>{{selectedItem.opening_crawl}}</p>
    </div>

  </ng-template>
</div>

<ng-template [ngIf]= "selectedItem_FilmsList.length > 0" >
  <h1 class="titleList">Films</h1>
<ion-scroll scrollX="true" class="scroll">
  <ion-row nowrap >
  <div class="itemDetailList" *ngFor="let item of selectedItem_FilmsList" class="detailCard" (click)="goToAssociatedObjectDetail(item, item.name || item.title)">
       <p>{{item.title}}</p>
    </div>
    </ion-row>
</ion-scroll>
</ng-template>

<ng-template [ngIf]= "selectedItem_PeopleList.length > 0" >
<h1 class="title-center">People</h1>
<ion-scroll scrollX="true" class="scroll" >
<ion-row nowrap >
  <div *ngFor="let item of selectedItem_PeopleList" class="detailCard" (click)="goToAssociatedObjectDetail(item, item.name || item.title)">
      <p>{{item.name}}</p>
  </div>
</ion-row>
</ion-scroll>
</ng-template>

<ng-template [ngIf]= "selectedItem_StarshipsList.length > 0" >
<h1 class="title-center">Starships</h1>
<ion-scroll scrollX="true" class="scroll" >
<ion-row nowrap >
  <div *ngFor="let item of selectedItem_StarshipsList" class="detailCard" (click)="goToAssociatedObjectDetail(item, item.name || item.title)">
      <p>{{item.name}}</p>
  </div>
</ion-row>
</ion-scroll>
</ng-template>

<ng-template [ngIf]= "selectedItem_SpeciesList.length > 0" >
<h1 class="title-center">Species</h1>
<ion-scroll scrollX="true" class="scroll" >
<ion-row nowrap >
  <div *ngFor="let item of selectedItem_SpeciesList" class="detailCard" (click)="goToAssociatedObjectDetail(item, item.name || item.title)">
      <p>{{item.name}}</p>
  </div>
</ion-row>
</ion-scroll>
</ng-template>

<ng-template [ngIf]= "selectedItem_PlanetsList.length > 0" >
<h1 class="title-center">Planets</h1>
<ion-scroll scrollX="true" class="scroll" >
<ion-row nowrap >
  <div *ngFor="let item of selectedItem_PlanetsList" class="detailCard" (click)="goToAssociatedObjectDetail(item, item.name || item.title)">
      <p>{{item.name}}</p>
  </div>
</ion-row>
</ion-scroll>
</ng-template>

<ng-template [ngIf]= "selectedItem_VehiclesList.length > 0" >
<h1 class="title-center">Vehicles</h1>
<ion-scroll scrollX="true" class="scroll" >
<ion-row nowrap >
  <div *ngFor="let item of selectedItem_VehiclesList" class="detailCard" (click)="goToAssociatedObjectDetail(item, item.name || item.title)">
      <p>{{item.name}}</p>
  </div>
</ion-row>
</ion-scroll>
</ng-template>

</ion-content>
