.inline {
  display: inline-block;
  font-size: 11px;
}
.block{
  display: block;
}
.scroll{
  width:100%;
  height:100px
}
.title-center{
  text-align: center;
}

.associated{
    //background-image: url('../../../assets/imgs/associatedLogo.png');
}

.detailCard{
  height:50px;
  background-color: grey
}
