.inline {
  display: inline-block;
  font-size: 11px;
}
.block{
  display: block;
  padding-left: 20px
}
.scroll{
  width:100%;
  height:100px;
  margin-left: 20px
}
.titleList{
  text-align: center;
  color: "#FFF"
}

.associated{
    //background-image: url('../../../assets/imgs/associatedLogo.png');
}

.detailCard{
  background-color: rgba(13, 48, 82, 1);
  margin-right: 10px;
  //  width:60%;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  text-align: center;
  border-radius: 50px;
}

.imgDetail{
  width:100%;
  height:150px
}
.blockInfo{
  background-color: "#300B19"
}
