.inline {
  display: inline-block;
  font-size: 12px;
}
.block{
  display: block;

}
.scroll{
  width:90%;
  height:150px;
  margin-left: 5%
}
.titleList{
  text-align: center;
  color: "#FFF"
}
.detailCard{
  background-color:  rgba(5, 36, 51, 1);
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border-radius: 20px;
  padding-top: 10px;
  min-width: 100px;
}

.imgDetail{
  width:40%;
  height:180px;

}
.imgRow{
  text-align: center;
}
.imgassociatedList{
  width:70px;
  height:70px;
}
.divTemplate{
background-color: rgba(65, 34, 52, 0.9);
padding-left: 20px;
border-radius: 20px;
margin-top: 20px;
margin-left: 5%;
width:90%
}
