.buttonStarwars{
  @include mixCenter;
  display: block;
  margin-top: 25px;
/*  padding-top: 30px;*/
//  padding-bottom: 0px;
  height:80px
}

.imgStarwars{
  width:60px;
  height:60px;
  margin-right:10px;
//  width: 150px
}
.swHomeTitle{
  margin-left: 10px
}
