.buttonStarwars{
  @include mixCenter;
  display: block;
/*  padding-top: 30px;*/
//  padding-bottom: 0px;
}

.margintop{
  margin-top: 40% !important;
}

.big{
  width: 94%;
  margin: 3%;
  font-family: starwars;
  text-align: center;
  vertical-align: middle;
  padding-top: 25px;
  padding-bottom: 25px;
}

.little{
  width: 44%;
  float: left;
  margin: 3%;
  font-family: starwars;
  text-align: center;
  vertical-align: middle;
  padding-top: 25px;
  padding-bottom: 25px;
}

.imgStarwars{
  width:50px;
  height:auto;
//  width: 150px
}
.swHomeTitle{
  margin-left: 10px
}
