.list{
    text-align: center;
   input{
       text-align: center;
        padding: 6px 55px;
        border-radius: 2px;
        background-position: left 8px center;
        height: auto;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 3rem;
        color: #141414;
        background-color: #fff;
        width: 90%;
   } 
   p{
       color: white;
   }

}