// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$marginHorizontal: 25px;
$backgroundColor : black;
$textColor: white;
@font-face {
font-family: starwars;
src: url(../assets/fonts/STARWARS.ttf) format("ttf");
font-weight: 200
}
@mixin mixMargins{
    margin: 0 $marginHorizontal 0 $marginHorizontal;
}
@mixin mixCenter{
    text-align: center;
    margin: auto;
}
.toolbar-background{
    background-color: $backgroundColor;
}
.toolbar-title, .back-button{
    color:$textColor;
}
.background{
    background-image: url('/assets/imgs/swbg.png');
    background-color: $backgroundColor;
    color: $textColor;
}
