
#headerAbout, #buttonAboutUs, #logo-asso{
    @include mixCenter;
}
#logo-asso{
    margin-top: 10px;
    width:120px;
    height: 120px; 
}
.labelAboutUs, .cardAboutUs{
    @include mixMargins;
    @include mixCenter;
}
#headerAbout, #cardHeader{
    color: #488aff;
}
#label-version{
    color:grey; 
    right:10px;
    float: right;
    //<670 the version is out of the screen
    @media screen and (min-height: 670px) {   
        position: absolute;  
        bottom:0;
    }
}