
#headerAbout, #buttonAboutUs, img{
    @include mixCenter;
}
img{
    margin-top: 10px;
    width:120px;
    height: 120px; 
}
.labelAboutUs{
    @include mixMargins;  
}
.cardAboutUs{
    @include mixMargins;
    text-align: justify;
}
h1, #cardHeader{
    color:#488aff;
}