
#headerAbout, #buttonAboutUs, #logo-asso{
    @include mixCenter;
}
#logo-asso{
    margin-top: 10px;
    width:120px;
    height: 120px; 
}
.labelAboutUs, .cardAboutUs{
    @include mixMargins;  
}
#headerAbout, #cardHeader{
    color: #488aff;
}
#label-version{
    position: absolute;
    right:10px;
    color:grey;    
}